@{
    ViewBag.Title = "Documents";
}


<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="highcharts, charts, javascript charts, ajax charts, plots, line charts, bar charts, pie charts, javascript plots, ajax plots" />
    <meta name="description" content="Highcharts - Interactive ASP.NET MVC charts for your web pages." />
    <title>Basic line</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/highslide.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/font-awesome.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/template.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/gallery.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/index.css")" type="text/css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/highslide-full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highslide.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>

    <script type="text/javascript">



        var example = 'line-basic',
        theme = 'default';

        jQuery(document).ready(function () {

            fixNavigation();

            jQuery("#view-menu").click(function (e) {
                jQuery("#wrap").toggleClass("toggled");
            });
            jQuery("#sidebar-close").click(function (e) {
                jQuery("#wrap").removeClass("toggled");
            });
            // key listeners for the previous and next arrows
            jQuery(document).keydown(function (e) {
                var anchor;
                if (e.target.tagName != 'INPUT') {
                    if (e.keyCode == 39) {
                        anchor = document.getElementById('next-example');

                    } else
                        if (e.keyCode == 37) {
                            anchor = document.getElementById('previous-example');
                        }

                    if (anchor) {
                        location.href = anchor.href;
                    }
                }
            });
            // Bind event to style change switcher
            jQuery('#switcher-selector').bind('change', function () {
                var url = jQuery(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });

        //function fixNavigation() {
        //    var example = window.location.href.split("=")[1].split("&")[0];
        //    var currentLink = exampleToHyphens(example);
        //    var sideBar = $(".nav-sidebar");
        //    var sideBarLinks = sideBar.find("li a");

        //    sideBar.find("ul").css("display", "none");

        //    $(".nav-sidebar li a").each(function (index, link) {
        //        var href = $(link).attr("aria-label");
        //        var hrefSplitArray = href.split("/");
        //        var hrefTag = hrefSplitArray[hrefSplitArray.length - 1];

        //        if (currentLink == hrefTag) {
        //            $(link).parent().addClass("active");
        //            $(link).parent().parent().css("display", "block");
        //            $(link).parent().parent().parent().addClass("active");

        //            $(".demo-name").html("<a href='#'>Highcharts Demos</a> &rsaquo; " + $(link).text());

        //            if (index < $(".nav-sidebar li a").length - 1) {
        //                var nextHref = $(sideBarLinks.get(index + 1)).attr("href");
        //                $(".chart-container").find("#next-example").attr("href", nextHref);
        //            }

        //            if (index > 0 ) {
        //                var prevHref = $(sideBarLinks.get(index - 1)).attr("href");
        //                $(".chart-container").find("#previous-example").attr("href", prevHref);
        //            }
        //        }
        //    });

        //}

        function exampleToHyphens(word) {
            var result = "";
            for (var i = 0; i < word.length; i++) {
                if (isUpperCase(word[i]) && i > 0) {
                    result += "-" + word[i].toLowerCase();
                }
                else {
                    result += word[i].toLowerCase();
                }
            }

            return result;
        }

        function isUpperCase(character) {
            return (character == character.toUpperCase());
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    @*<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">*@
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2995052-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    @*<div id="menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <a class="navbar-brand" href="/" title="Highcharts">
                            <img src="@Url.Content("~/Content/logo.svg")" alt="Highcharts" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div id="menu-container">
                            <div id="menu-second" class="hidden-xs">

                               <ul class="nav navbar-nav pull-right">
                                    <li class="item-112"><a href="http://www.highcharts.com">Highcharts.com</a></li>
                                    <li class="item-113 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products <span class="toggle-arrow"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="item-121"><a href="http://www.highcharts.com/highcharts">Highcharts</a></li>
                                            <li class="item-122"><a href="http://www.highcharts.com/highstock">Highstock</a></li>
                                            <li class="item-210"><a href="http://www.highcharts.com/highmaps">Highmaps</a></li>
                                            <li class="item-213"><a href="http://cloud.highcharts.com/">Highcharts Cloud</a></li>
                                            <li class="item-123"><a href="http://highslide.com/">Highslide JS</a></li>
                                        </ul>
                                    </li>
                                    <li class="item-218"><a href="http://www.highcharts.com/about">About Us</a></li>
                                    <li class="item-114"><a href="http://www.highcharts.com/contact-email">Contact</a></li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div id="menu-main">
                                 <ul class="nav navbar-nav pull-right">
                                    <li class="item-101"><a href="~/highcharts/demo" style="font-size:medium">Demo</a></li>
                                     <li class="item-101"><a href="~/Help/Highcharts/html/index.html" style="font-size:medium">API</a></li>
                                    <li class="item-101"><a href="~/Docs/Highcharts/index.html" target="_blank" style="font-size:medium">Docs</a></li>
                                    <li class="item-109 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:medium">Download <span class="toggle-arrow"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="item-109"><a href="~/downloads/Highcharts_ASPNET_MVC_4_1_7_0.zip">30-day trial</a></li>
                                        </ul>
                                    </li>
                                     <li class="item-101"><a href="~/Highstock/Demo" target="_blank" style="font-size:medium">Highstock for &nbsp;.NET</a></li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div id="mobile-second" class="visible-xs">

                                <ul class="nav navbar-nav pull-right">
                                    <li class="item-112"><a href="/about">About Us</a></li>
                                    <li class="item-113 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products <span class="toggle-arrow"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="item-121"><a href="/products/highcharts">Highcharts</a></li>
                                            <li class="item-122"><a href="/products/highstock">Highstock</a></li>
                                            <li class="item-210"><a href="/products/highmaps">Highmaps</a></li>
                                            <li class="item-213"><a href="http://cloud.highcharts.com/">Highcharts Cloud</a></li>
                                            <li class="item-123"><a href="http://highslide.com/">Highslide JS</a></li>
                                        </ul>
                                    </li>
                                    <li class="item-218"><a href="/blog">Blog</a></li>
                                    <li class="item-114"><a href="/contact-email">Contact</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>*@
    <div id="header" class="hidden-xs col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">

            <div class="table-responsive">
                <table class="table" style="margin:unset">
                    <tbody>
                        <tr>
                            <td style="width:25%; padding:unset; border:none;">
                                <div style="position:relative; left:15px; top:6.5px; ">
                                    <img src="~/Content/wrapper_logo2.png" />
                                </div>
                            </td>
                            <td style="padding:unset; border:none">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <nav class="navbar navbar-inverse" style="border:unset">
                                        <div class="container-fluid" style="background:#3A3A4F; padding:unset">
                                            <ul class="nav navbar-nav">
                                                <li><a id="navh1" href="~/Highcharts/Demo" style="padding-left:0px;"><img src="~/Content/HC2.png" />Highcharts for .NET</a></li>
                                                <li><a id="navh2" href="~/Highstock/Demo" style="padding-left:0px;"><img src="~/Content/HS.png" />Highstock for .NET</a></li>
                                            </ul>
                                        </div>
                                    </nav>


                                    @*<h1>Highcharts Demos</h1>*@


                                    <div class="btn-group theme">
                                        @*<a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">Default</a>
                                            <a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="?theme=dark-unica">Dark Unica</a>
                                            <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="?theme=sand-signika">Sand Signika</a>
                                            <a class="btn btn-theme @ViewBag.GridLightDisabled" href="?theme=grid-light">Grid Light</a>*@

                                        <a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">DEMO</a>
                                        <a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="~/Help/Highcharts/html/index.html">API</a>
                                        @*<a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="~/Docs/Highcharts/index.html">DOCS</a>*@
                                        <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">DOCS</a>
                                        <a class="btn btn-theme @ViewBag.GridLightDisabled" href="~/downloads/Highcharts_ASPNET_MVC_4_1_7_0.zip">DOWNLOAD</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div id="hs-slider">
        <div class="container">
        </div>
    </div>
    <div id="hs-clients">
        <div class="container">
        </div>
    </div>
    <div id="hs-component">
        <div class="container">
            <div id="wrap" class="sidebar-wrapper">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <div class="active"><span>System Requirements</span><icon class="toggle"></icon></div>
                            <ul style="display: block;">
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "ServerSideRequirements" } )">Server-Side System Requirements</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "ClientSideRequirements" } )">Client-Side System Requirements</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Adding Highcharts for ASP.NET MVC to your project</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "VS"} )">Visual Studio .NET</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "IDE"} )">Other IDEs / Web Projects</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "License"} )">Trial and Licensed Versions</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Your first chart</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "FirstChart1"} )">Adding Reference to the Chart in your View</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "FirstChart2"} )">Including the required Javascript files</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "FirstChart3"} )">Defining the Chart in your View</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "FirstChart4"} )">Getting Data for your Chart</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "FirstChart5"} )">Passing Data From the Controller to the Chart in the View</a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Docs", "Demo", new { section = "FirstChart6"} )">Using Fixed Data In The View</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar-fill"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq demo">
                    <a id="sidebar-close" class="btn-default visible-xs">&laquo; Hide Menu</a>
                    <div id="chart-switcher" class="visible-xs">
                        <a id="previous-example"><i class="fa fa-angle-left"></i></a>
                        <h2 class="demo-name"></h2>
                        <a id="next-example" title="Next (arrow right)"
                           href="http://www.highcharts.com/demo/line-ajax"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div id="small-switcher" class="visible-xs">
                        <a class="button" id="view-menu" onclick="">Menu &raquo;</a>
                        <select id="switcher-selector">
                            <option value="http://www.highcharts.com/demo/line-basic" selected>Default theme</option>
                            <option value="http://www.highcharts.com/demo/line-basic/dark-unica">Dark Unica</option>
                            <option value="http://www.highcharts.com/demo/line-basic/sand-signika">Sand Signika</option>
                            <option value="http://www.highcharts.com/demo/line-basic/grid-light">Grid Light</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="chart-container" style="padding:0px;">
                        <div id="container" style="width: 100%; height: auto; margin: 0 auto">
                            @Html.Action((string)ViewBag.Section, "Shared")
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq-fill"></div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div id="hs-below">
        <div class="container">
        </div>
    </div>
    <div id="hs-bottom">
        <div class="container">
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="zt-footer-copy">
                    © 2016 Highcharts. All rights reserved.
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="socials">
                    <div>
                        <a href="https://www.facebook.com/Highcharts" title="Facebook" class="social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Highcharts" title="Twitter" class="social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.linkedin.com/company/highsoft-solutions-as" title="LinkedIn" class="social-icon"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/highslide-software/highcharts.com" title="Github" class="social-icon"><i class="fa fa-github"></i></a>
                        <a href="https://www.youtube.com/channel/UCzxXofPTQ0DoT7uIy3Fxw7A"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

