@using Highsoft.Web.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <title>HighSoft Charts for ASP.NET MVC</title>
    <!-- Use Microsoft's CDN for the jQuery library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-2.1.3.min.js"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/highcharts.src.js")"></script>
</head>
<body>
    <div>
        <script type="text/javascript">

            function handleClick(e) {
                console.log(e.yAxis[0].value)
            }

        </script>

        @(Html.Highsoft().Highcharts(
            new Highcharts
            {
                Chart = new Chart
                {
                    Width = 700,
                    Height = 500
                },
                Title = new Title
                {
                    Text = "Monthly Average Temperature",
                    X = -20
                },
                Subtitle = new Subtitle
                {
                    Text = "Source: WorldClimate.com",
                    X = -20
                },

                XAxis = new XAxis
                {
                    Categories = new List<string> { "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" },

                },
                YAxis = new YAxis
                {
                    Title = new YAxisTitle
                    {
                        Text = "Temperature (°C)"
                    },
                    PlotLines = new YAxisPlotLines
                    {
                        Value = 0,
                        Width = 1,
                        Color = "#808080"
                    }
                },
                Tooltip = new Tooltip
                {
                    ValueSuffix = "°C"
                },
                Legend = new Legend
                {
                    Layout = LegendLayout.Vertical,
                    Align = LegendAlign.Right,
                    VerticalAlign = LegendVerticalAlign.Middle,
                    BorderWidth = 0
                },
                Series = new List<Series>
                {                    
                    new LineSeries
                    {
                        Name = "Tokyo",
                        Data = @ViewData["tokyoData"] as List<LineSeriesData>
                    },
                    new LineSeries
                    {
                        Name = "NY",
                        Data = @ViewData["nyData"] as List<LineSeriesData>
                    },
                    new LineSeries
                    {
                        Name = "Berlin",
                        Data = @ViewData["berlinData"] as List<LineSeriesData>
                    },
                    new LineSeries
                    {
                        Name = "London",
                        Data = @ViewData["londonData"] as List<LineSeriesData>
                    }
                }
            }
            , "DemoChart")
         )
    </div>
</body>
</html>
