<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="highcharts, charts, javascript charts, ajax charts, plots, line charts, bar charts, pie charts, javascript plots, ajax plots" />
    <meta name="description" content="Highcharts - Interactive ASP.NET MVC charts for your web pages." />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/highslide.css")" type="text/css" />
    <link rel="stylesheet"  href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" type="text/css" />
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic" type="text/css" />*@
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/font-awesome.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/template.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/gallery.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/index.css")" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/navigation-bar.css" media="all">
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/highslide-full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highslide.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fix.navigation.js")" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/1053745c2c.js"></script>

    <script type="text/javascript">

       

        var example = 'line-basic',
        theme = 'default';
      
        jQuery(document).ready(function () {

            fixNavigation();

            jQuery("#view-menu").click(function (e) {
                jQuery("#wrap").toggleClass("toggled");
            });
            jQuery("#sidebar-close").click(function (e) {
                jQuery("#wrap").removeClass("toggled");
            });
            // key listeners for the previous and next arrows
            jQuery(document).keydown(function (e) {
                var anchor;
                if (e.target.tagName != 'INPUT') {
                    if (e.keyCode == 39) {
                        anchor = document.getElementById('next-example');

                    } else
                        if (e.keyCode == 37) {
                            anchor = document.getElementById('previous-example');
                        }

                    if (anchor) {
                        location.href = anchor.href;
                    }
                }
            });
            // Bind event to style change switcher
            jQuery('#switcher-selector').bind('change', function () {
                var url = jQuery(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });

        

        function exampleToHyphens(word) {
            var result = "";
            for (var i = 0; i < word.length; i++) {
                if (isUpperCase(word[i]) && i > 0) {
                    result += "-" + word[i].toLowerCase();
                }
                else {
                    result += word[i].toLowerCase();
                }
            }

            return result;
        }

        function isUpperCase(character) {
            return (character == character.toUpperCase());
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2995052-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

    <div id="menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <a class="navbar-brand" href="http://www.highcharts.com/" title="Highcharts">
                        <img src="~/Content/images/logo.svg" alt="Highcharts">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div id="menu-container">
                        <div id="menu-second" class="hidden-xs">

                            <ul class="nav navbar-nav">
                                <li class="item-112 deeper dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu"><li class="item-260"><a href="http://www.highcharts.com/about">About Us</a></li><li class="item-276"><a href="http://www.highcharts.com/component/content/category/2-news/">News</a></li><li class="item-218"><a href="http://www.highcharts.com/blog">Blog</a></li><li class="item-114"><a href="http://www.highcharts.com/contact-email">Contact</a></li></ul>
                                </li>
                                <li class="item-261"><a href="http://www.highcharts.com/plugin-registry">Plugins</a></li>
                                <li class="item-262"><a href="http://shop.highsoft.com/">Shop</a></li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                        <div id="menu-main">

                            <ul class="nav navbar-nav">
                                <li class="item-101 current active"><a href="/">Home</a></li>
                                <li class="item-103 deeper dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu"><li class="item-106"><a href="http://www.highcharts.com/demo">Highcharts demos</a></li><li class="item-107"><a href="http://www.highcharts.com/stock/demo">Highstock demos</a></li><li class="item-205"><a href="http://www.highcharts.com/maps/demo">Highmaps demo</a></li><li class="item-267"><a href="http://www.highcharts.com/use-cases">Customer showcase</a></li></ul>
                                </li>
                                <li class="item-108 deeper dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu"><li class="item-128"><a href="http://www.highcharts.com/docs">General Documentation</a></li><li class="item-124"><a href="http://api.highcharts.com/highcharts">Highcharts API Reference</a></li><li class="item-125"><a href="http://api.highcharts.com/highstock">Highstock API Reference</a></li><li class="item-211"><a href="http://api.highcharts.com/highmaps">Highmaps API Reference</a></li><li class="item-126"><a href="http://www.highcharts.com/documentation/compatibility">Compatibility</a></li><li class="item-127"><a href="http://www.highcharts.com/documentation/changelog">Changelog</a></li></ul>
                                </li>
                                <li class="item-109 deeper dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu"><li class="item-110"><a href="http://www.highcharts.com/support">Support</a></li><li class="item-129"><a href="http://www.highcharts.com/support/roadmap">Roadmap</a></li><li class="item-201"><a href="http://www.highcharts.com/download">Download</a></li><li class="item-208"><a href="http://forum.highcharts.com/">Forum</a></li></ul>
                                </li>
                                <li class="item-254 deeper dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu"><li class="item-255"><a href="http://www.highcharts.com/products/highcharts">Highcharts</a></li><li class="item-256"><a href="http://www.highcharts.com/products/highstock">Highstock</a></li><li class="item-257"><a href="http://www.highcharts.com/products/highmaps">Highmaps</a></li><li class="item-258"><a href="http://cloud.highcharts.com">Highcharts Cloud</a></li><li class="item-273"><a href="http://www.highcharts.com/products/highcharts-editor">Highcharts Editor</a></li><li class="item-279"><a href="http://www.highcharts.com/products/wrappers">Wrappers</a></li></ul>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                        <div id="mobile-second" class="visible-xs">

                            <ul class="nav navbar-nav">
                                <li class="item-112 deeper dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu"><li class="item-260"><a href="/about">About Us</a></li><li class="item-276"><a href="/component/content/category/2-news/">News</a></li><li class="item-218"><a href="/blog">Blog</a></li><li class="item-114"><a href="/contact-email">Contact</a></li></ul>
                                </li>
                                <li class="item-261"><a href="http://www.highcharts.com/products/plugin-registry">Plugins</a></li>
                                <li class="item-262"><a href="http://shop.highsoft.com/">Shop</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div id="menu-shop" class="container-fluid">

                <div id="shop-list-wrapper">

                    <div id="shop-product-tab" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="toggle-arrow"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Highstock/Demo">Demo</a></li>
                            <li><a href="~/Help/Highstock/html/index.html">API</a></li>
                            <li><a href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">Docs</a></li>
                            <li><a href="~/downloads/Highstock_ASPNET_MVC_4_1_7_0.zip" onclick="ga('send', 'event', 'Downloads', 'Highcharts-Dotnet');">Download&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <ul id="shop-product-list">
                        <li><a href="~/Highstock/Demo">Demo</a></li>
                        <li><a href="~/Help/Highstock/html/index.html">API</a></li>
                        <li><a href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">Docs</a></li>
                        <li><a href="~/downloads/Highstock_ASPNET_MVC_4_1_7_0.zip" onclick="ga('send', 'event', 'Downloads', 'Highcharts-Dotnet');">Downloads&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @*<div id="menu">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <a class="navbar-brand" href="/" title="Highcharts">
                            <img src="@Url.Content("~/Content/logo.svg")" alt="Highcharts" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div id="menu-container">
                            <div id="menu-second" class="hidden-xs">

                               <ul class="nav navbar-nav pull-right">
                                    <li class="item-112"><a href="http://www.highcharts.com">Highcharts.com</a></li>
                                    <li class="item-113 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products <span class="toggle-arrow"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="item-121"><a href="http://www.highcharts.com/highcharts">Highcharts</a></li>
                                            <li class="item-122"><a href="http://www.highcharts.com/highstock">Highstock</a></li>
                                            <li class="item-210"><a href="http://www.highcharts.com/highmaps">Highmaps</a></li>
                                            <li class="item-213"><a href="http://cloud.highcharts.com/">Highcharts Cloud</a></li>
                                            <li class="item-123"><a href="http://highslide.com/">Highslide JS</a></li>
                                        </ul>
                                    </li>
                                    <li class="item-218"><a href="http://www.highcharts.com/about">About Us</a></li>
                                    <li class="item-114"><a href="http://www.highcharts.com/contact-email">Contact</a></li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div id="menu-main">
                                 <ul class="nav navbar-nav pull-right">
                                    <li class="item-101"><a href="~/highcharts/demo" style="font-size:medium">Demo</a></li>
                                     <li class="item-101"><a href="~/Help/Highcharts/html/index.html" style="font-size:medium">API</a></li>
                                    <li class="item-101"><a href="~/Docs/Highcharts/index.html" target="_blank" style="font-size:medium">Docs</a></li>
                                    <li class="item-109 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:medium">Download <span class="toggle-arrow"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="item-109"><a href="~/downloads/Highcharts_ASPNET_MVC_4_1_7_0.zip">30-day trial</a></li>
                                        </ul>
                                    </li>
                                     <li class="item-101"><a href="~/Highstock/Demo" target="_blank" style="font-size:medium">Highstock for &nbsp;.NET</a></li>
                                </ul>

                                <div class="clearfix"></div>
                            </div>
                            <div id="mobile-second" class="visible-xs">

                                <ul class="nav navbar-nav pull-right">
                                    <li class="item-112"><a href="/about">About Us</a></li>
                                    <li class="item-113 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products <span class="toggle-arrow"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="item-121"><a href="/products/highcharts">Highcharts</a></li>
                                            <li class="item-122"><a href="/products/highstock">Highstock</a></li>
                                            <li class="item-210"><a href="/products/highmaps">Highmaps</a></li>
                                            <li class="item-213"><a href="http://cloud.highcharts.com/">Highcharts Cloud</a></li>
                                            <li class="item-123"><a href="http://highslide.com/">Highslide JS</a></li>
                                        </ul>
                                    </li>
                                    <li class="item-218"><a href="/blog">Blog</a></li>
                                    <li class="item-114"><a href="/contact-email">Contact</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>*@
    <div id="header" class="hidden-xs col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">

            <div class="table-responsive">
                <table class="table" style="margin:unset; background:#3A3A4F;">
                    <tbody>
                        <tr>
                            <td width="25%" style="padding:unset; border:none"></td>
                            <td style="padding-left:unset; padding-top:15px; padding-bottom:25px; border:none">
                                @*<ul class="nav navbar-nav">*@
                                <table>
                                    <tbody>
                                        <tr><td style="padding-left:unset; padding-bottom:15px; border:none"><span style="color:#eeeaea; font-size:x-large;">Highstock.NET</span></td></tr>
                                        <tr>
                                            <td style="padding:unset; border:none">
                                                <div class="btn-group">
                                                    <a href="~/Highcharts/Demo" class="btn btn-primary" style="border-color:#eeeaea; color:#898DA0; background-color:#3A3A4F; text-transform:none;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Highcharts</a>
                                                    <a href="~/Highstock/Demo" class="btn btn-primary"  style="border-color:#eeeaea; color:#3A3A4F; background-color:#eeeaea; text-transform:none;"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Highstock</a>
                                                </div>
                                            </td>
                                        </tr>
                                        @*</ul>*@
                                        @*<div style="position:relative; left:15px; top:6.5px; ">
                                                <img src="~/Content/wrapper_logo2.png" />
                                            </div>*@
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:unset; border:none">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                                    <img src="~/Content/images/dotnet_logo.png" width="200" style="padding-top:30px;" />


                                    @*<h1>Highcharts Demos</h1>*@


                                    @*<div class="btn-group theme">
                                        <a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">Default</a>
                                            <a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="?theme=dark-unica">Dark Unica</a>
                                            <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="?theme=sand-signika">Sand Signika</a>
                                            <a class="btn btn-theme @ViewBag.GridLightDisabled" href="?theme=grid-light">Grid Light</a>*@

                                    @*<a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">DEMO</a>*@
                                    @*<a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="~/Help/Highcharts/html/index.html">API</a>*@
                                    @*<a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="~/Docs/Highcharts/index.html">DOCS</a>*@
                                    @*<a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="~/Highcharts/Demo/Docs?section=ServerSideRequirements">DOCS</a>*@
                                    @*<a class="btn btn-theme @ViewBag.GridLightDisabled" href="~/downloads/Highcharts_ASPNET_MVC_4_1_7_0.zip">DOWNLOAD</a>*@
                                    @*<div class="container">*@
                                    @*<button type="button" class="btn btn-primary" style="border:thick #AFFAC5; background-color: #a3edba; color:#404055; letter-spacing:normal; padding-left:8px; padding-right:8px; border-radius:2px; padding-top:4px; padding-bottom:2px; font-weight:700; font-size:12px; white-space:nowrap;" href="ggg.jpg"><span>DOWNLOAD</span>&nbsp;<i class="fa fa-download" aria-hidden="true"></i></button>*@
                                    @*</div>*@
                                    @*</div>*@
                                </div>
                            </td>
                        </tr>
                        @*<tr>
                            <td width="25%" style="padding:unset; border:none"></td>
                            <td style="padding:unset; border:none; margin:unset">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:unset;">

                                    <div class="btn-group theme">
                                        <a class="btn btn-theme disabled" href="~/Higstock/Demo" style="margin-right:2px; background:#f6f6f6">DEMO</a>
                                        <a class="btn btn-theme enabled" href="~/Help/Highstock/html/index.html" style="margin-right:2px;">API</a>
                                        <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="~/Docs/Highcharts/index.html">DOCS</a>
                                        <a class="btn btn-theme enabled" href="~/Highcharts/Demo/Docs?section=ServerSideRequirements" style="margin-right:2px;">DOCS</a>
                                        <a class="btn btn-theme @ViewBag.GridLightDisabled" href="~/downloads/Highcharts_ASPNET_MVC_4_1_7_0.zip">DOWNLOAD</a>
                                        <a href="~/downloads/Highstock_ASPNET_MVC_4_1_7_0.zip" class="btn btn-primary" style="border:thick #AFFAC5; background-color: #a3edba; color:#404055; letter-spacing:normal; padding-left:8px; padding-right:8px; border-radius:3px; padding-top:4px; padding-bottom:2px; font-weight:700; font-size:12px; white-space:nowrap; margin-left:2px; margin-top:5px;"><span>DOWNLOAD</span>&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>*@
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id="hs-slider">
        <div class="container">
        </div>
    </div>
    <div id="hs-clients">
        <div class="container">
        </div>
    </div>
    <div id="hs-component">
        <div class="container">
            <div class="visible-xs row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:#f6f6f6;">
                    <div class="btn-group" style="padding-top:5px; padding-bottom:5px; padding-left:5px;">
                        <a href="~/Highcharts/Demo" class="btn btn-primary" style="border-color:#eeeaea; color:#3A3A4F; background-color:#eeeaea; text-transform:none;"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Highcharts</a>
                        <a href="~/Highstock/Demo" class="btn btn-primary" style="border-color:#eeeaea; color:#898DA0; background-color:#3A3A4F; text-transform:none;"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Highstock</a>
                    </div>
                </div>
            </div>
            <div id="wrap" class="sidebar-wrapper">
                @*<div id="comp-menu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9"></div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 cont">
                        <h2 class="demo-name"></h2>
                        <div class="btn-group theme">
                            <a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">Default</a>
                            <a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="?theme=dark-unica">Dark Unica</a>
                            <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="?theme=sand-signika">Sand Signika</a>
                            <a class="btn btn-theme @ViewBag.GridLightDisabled" href="?theme=grid-light">Grid Light</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
                
                <nav class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <div class="active"><span>GENERAL</span><icon class="toggle"></icon></div>
                            <ul style="display:block;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/basic-line" href="@Url.Action("Gallery", "Demo", new { demo = "BasicLine", theme = ViewBag.Theme } )">Single line series</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/candlestick-and-volume" href="@Url.Action("Gallery", "Demo", new { demo = "CandlestickAndVolume", theme = ViewBag.Theme } )">Two panes, candlestick and volume</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/compare" href="@Url.Action("Gallery", "Demo", new { demo = "Compare", theme = ViewBag.Theme } )">Compare multiple series</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/data-grouping" href="@Url.Action("Gallery", "Demo", new { demo = "DataGrouping", theme = ViewBag.Theme } )">52,000 points with data grouping</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/lazy-loading" href="@Url.Action("Gallery", "Demo", new { demo = "LazyLoading", theme = ViewBag.Theme } )">1,7 million points with async loading</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/intraday-area" href="@Url.Action("Gallery", "Demo", new { demo = "IntradayArea", theme = ViewBag.Theme } )">Intraday Area</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/intraday-breaks" href="@Url.Action("Gallery", "Demo", new { demo = "IntradayBreaks", theme = ViewBag.Theme } )">Intraday with breaks</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/intraday-candlestick" href="@Url.Action("Gallery", "Demo", new { demo = "IntradayCandlestick", theme = ViewBag.Theme } )">Intraday Candlestick</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/flags-general" href="@Url.Action("Gallery", "Demo", new { demo = "FlagsGeneral", theme = ViewBag.Theme } )">Flags marking events</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/dynamic-update" href="@Url.Action("Gallery", "Demo", new { demo = "DynamicUpdate", theme = ViewBag.Theme } )">Dynamically Updated Data</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>CHART TYPES</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/line-markers" href="@Url.Action("Gallery", "Demo", new { demo = "LineMarkers", theme = ViewBag.Theme } )">Line with markers and shadow</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/spline" href="@Url.Action("Gallery", "Demo", new { demo = "Spline", theme = ViewBag.Theme } )">Spline</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/step-line" href="@Url.Action("Gallery", "Demo", new { demo = "StepLine", theme = ViewBag.Theme } )">Step line</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/area" href="@Url.Action("Gallery", "Demo", new { demo = "Area", theme = ViewBag.Theme } )">Area</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/areaspline" href="@Url.Action("Gallery", "Demo", new { demo = "Areaspline", theme = ViewBag.Theme } )">Area spline</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/arearange" href="@Url.Action("Gallery", "Demo", new { demo = "Arearange", theme = ViewBag.Theme } )">Area range</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/areasplinerange" href="@Url.Action("Gallery", "Demo", new { demo = "Areasplinerange", theme = ViewBag.Theme } )">Area spline range</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/candlestick" href="@Url.Action("Gallery", "Demo", new { demo = "Candlestick", theme = ViewBag.Theme } )">Candlestick</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/ohlc" href="@Url.Action("Gallery", "Demo", new { demo = "Ohlc", theme = ViewBag.Theme } )">OHLC</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/column" href="@Url.Action("Gallery", "Demo", new { demo = "Column", theme = ViewBag.Theme } )">Column</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/columnrange" href="@Url.Action("Gallery", "Demo", new { demo = "Columnrange", theme = ViewBag.Theme } )">Column range</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/markers-only" href="@Url.Action("Gallery", "Demo", new { demo = "MarkersOnly", theme = ViewBag.Theme } )">Point markers only</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>VARIOUS FEATURES</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/yaxis-plotlines" href="@Url.Action("Gallery", "Demo", new { demo = "YaxisPlotlines", theme = ViewBag.Theme } )">Plot lines on Y axis</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/yaxis-plotbands" href="@Url.Action("Gallery", "Demo", new { demo = "YaxisPlotbands", theme = ViewBag.Theme } )">Plot bands on Y axis</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/yaxis-reversed" href="@Url.Action("Gallery", "Demo", new { demo = "YaxisReversed", theme = ViewBag.Theme } )">Reversed Y axis</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/styled-scrollbar" href="@Url.Action("Gallery", "Demo", new { demo = "StyledScrollbar", theme = ViewBag.Theme } )">Styled scrollbar</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/scrollbar-disabled" href="@Url.Action("Gallery", "Demo", new { demo = "ScrollbarDisabled", theme = ViewBag.Theme } )">Disabled scrollbar</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/navigator-disabled" href="@Url.Action("Gallery", "Demo", new { demo = "NavigatorDisabled", theme = ViewBag.Theme } )">Disabled navigator</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>FLAGS</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/flags-placement" href="@Url.Action("Gallery", "Demo", new { demo = "FlagsPlacement", theme = ViewBag.Theme } )">Flags placement</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/stock/demo/flags-shapes" href="@Url.Action("Gallery", "Demo", new { demo = "FlagsShapes", theme = ViewBag.Theme } )">Flags shapes and colors</a>
                                </li>
                            </ul>
                        </li>
                        
                    
                    </ul>
                </nav>
                    
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar-fill"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq demo" style="margin-top:unset;">
                    <a id="sidebar-close" class="btn-default visible-xs">&laquo; Hide Menu</a>
                    <div id="chart-switcher" class="visible-xs">
                        <a id="previous-example"><i class="fa fa-angle-left"></i></a>
                        <h2 class="demo-name"></h2>
                        <a id="next-example" title="Next (arrow right)"
                            href="http://www.highcharts.com/demo/line-ajax"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div id="small-switcher" class="visible-xs">
                        <a class="button" id="view-menu" onclick="">Menu &raquo;</a>
                        <select id="switcher-selector">
                            <option value="http://www.highcharts.com/demo/line-basic" selected>Default theme</option>
                            <option value="http://www.highcharts.com/demo/line-basic/dark-unica">Dark Unica</option>
                            <option value="http://www.highcharts.com/demo/line-basic/sand-signika">Sand Signika</option>
                            <option value="http://www.highcharts.com/demo/line-basic/grid-light">Grid Light</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="chart-container">
                        <a id="previous-example" class="hidden-xs"><i class="fa fa-angle-left"></i></a>
                        
                        @*
                        <script src="http://code.highcharts.com/highcharts.js"></script>
                        <script src="http://code.highcharts.com/modules/data.js"></script>
                        <script src="http://code.highcharts.com/highcharts-3d.js"></script>
                        <script src="http://code.highcharts.com/modules/heatmap.js"></script>
                        <script src="http://code.highcharts.com/highcharts-more.js"></script>
                        <script src="http://code.highcharts.com/modules/funnel.js"></script>                        
                        <script src="http://code.highcharts.com/modules/exporting.js"></script>
                        <script src="http://code.highcharts.com/modules/heatmap.js"></script>
                        <script src="http://code.highcharts.com/modules/treemap.js"></script>
                        <script src="http://code.highcharts.com/modules/drilldown.js"></script>
                        <script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
                        *@

                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">

                            @Html.Action((string)ViewBag.Demo, "Shared")

                        </div>
                        <a id="next-example" class="чччччhidden-xs" title="Next (arrow right)"
                            href=""><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div id="demo-buttons">
                        <a class="button" href="javascript:"
                            onclick="hs.htmlExpand(this, { width: 800,
					                headingText: 'Demo Controller Code', 
					                wrapperClassName: 'draggable-header' })">Controller Code&nbsp;<i class="fa fa-chevron-right"></i></a>
                        <div class="highslide-maincontent" style="display:none">
                           <pre>@ViewBag.ControllerCode</pre>
                        </div>
                        <a class="button" href="javascript:"
                            onclick="hs.htmlExpand(this, { width: 800,
					                headingText: 'Dempo View Code', 
					                wrapperClassName: 'draggable-header' })">View Code&nbsp;<i class="fa fa-chevron-right"></i></a>
                        <div class="highslide-maincontent" style="display:none">
                            <pre>@ViewBag.ViewCode</pre>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq-fill"></div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div id="hs-below">
        <div class="container">
        </div>
    </div>
    <div id="hs-bottom">
        <div class="container">
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="zt-footer-copy">
                    © 2016 Highcharts. All rights reserved.				
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="socials">
                    <div>
                        <a href="https://www.facebook.com/Highcharts" title="Facebook" class="social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Highcharts" title="Twitter" class="social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.linkedin.com/company/highsoft-solutions-as" title="LinkedIn" class="social-icon"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/highslide-software/highcharts.com" title="Github" class="social-icon"><i class="fa fa-github"></i></a>
                        <a href="https://www.youtube.com/channel/UCzxXofPTQ0DoT7uIy3Fxw7A"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
