@{
    ViewBag.Title = "Chart";
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="highcharts, charts, javascript charts, ajax charts, plots, line charts, bar charts, pie charts, javascript plots, ajax plots" />
    <meta name="description" content="Highcharts - Interactive ASP.NET MVC charts for your web pages." />
    <title>Basic line</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/highslide.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/font-awesome.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/template.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/gallery.css")" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/highslide-full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highslide.config.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>

    <script type="text/javascript">



        var example = 'line-basic',
        theme = 'default';

        jQuery(document).ready(function () {

            fixNavigation();

            jQuery("#view-menu").click(function (e) {
                jQuery("#wrap").toggleClass("toggled");
            });
            jQuery("#sidebar-close").click(function (e) {
                jQuery("#wrap").removeClass("toggled");
            });
            // key listeners for the previous and next arrows
            jQuery(document).keydown(function (e) {
                var anchor;
                if (e.target.tagName != 'INPUT') {
                    if (e.keyCode == 39) {
                        anchor = document.getElementById('next-example');

                    } else
                        if (e.keyCode == 37) {
                            anchor = document.getElementById('previous-example');
                        }

                    if (anchor) {
                        location.href = anchor.href;
                    }
                }
            });
            // Bind event to style change switcher
            jQuery('#switcher-selector').bind('change', function () {
                var url = jQuery(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });

        function fixNavigation() {
            var example = window.location.href.split("=")[1].split("&")[0];
            var currentLink = exampleToHyphens(example);
            var sideBar = $(".nav-sidebar");
            var sideBarLinks = sideBar.find("li a");

            sideBar.find("ul").css("display", "none");

            $(".nav-sidebar li a").each(function (index, link) {
                var href = $(link).attr("aria-label");
                var hrefSplitArray = href.split("/");
                var hrefTag = hrefSplitArray[hrefSplitArray.length - 1];

                if (currentLink == hrefTag) {
                    $(link).parent().addClass("active");
                    $(link).parent().parent().css("display", "block");
                    $(link).parent().parent().parent().addClass("active");

                    $(".demo-name").html("<a href='#'>Highcharts Demos</a> &rsaquo; " + $(link).text());

                    if (index < $(".nav-sidebar li a").length - 1) {
                        var nextHref = $(sideBarLinks.get(index + 1)).attr("href");
                        $(".chart-container").find("#next-example").attr("href", nextHref);
                    }

                    if (index > 0) {
                        var prevHref = $(sideBarLinks.get(index - 1)).attr("href");
                        $(".chart-container").find("#previous-example").attr("href", prevHref);
                    }
                }
            });

        }

        function exampleToHyphens(word) {
            var result = "";
            for (var i = 0; i < word.length; i++) {
                if (isUpperCase(word[i]) && i > 0) {
                    result += "-" + word[i].toLowerCase();
                }
                else {
                    result += word[i].toLowerCase();
                }
            }

            return result;
        }

        function isUpperCase(character) {
            return (character == character.toUpperCase());
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2995052-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div id="container" style="min-width: 310px; height: 450px; margin: 0 auto; background-color: #ffffff">
        @Html.Action((string)ViewBag.Demo, "Shared")
    </div>
</body>
</html>
